.services-block {
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dadada;
    overflow: hidden
}

.services-block .block-wrapper { 
    overflow: hidden
}

.services-block .block-id {
    font-family: PragmaticaBookRegular, sans-serif;
    font-size: 18px;
    line-height: 14px;
}

.services-block .h2 {
    margin: 0px;
    padding-top: 32px;
    padding-bottom: 0px;
    line-height: 32px;
    border-bottom: none;
}

.services-block:last-child {
    border-bottom: none;
    padding-bottom: 62px;
}

.services-block .services-list-block {
    margin-top: 38px;
}

 .services-block .services-list {
    width: 100%;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-bottom: 0;    
    font-size: 16px;
    font-family: PragmaticaBookRegular, sans-serif;
    color: #656565;
    height: 80px;
    line-height:normal; 
    display: table;     
}

.services-block .services-list:first-of-type {
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.services-block .services-list:last-child {
    box-sizing: border-box;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid #cdcdcd;
}

.services-block .services-list .services-list-circle {
    margin: 35px 20px;
    height: 6px;
    width: 6px;
    border: 2px solid #818181;
    border-radius: 6px;
    float:left;
}

.services-block .services-list .services-list-text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 20px;
    padding: 20px 0;
}

.services-block .services-text {
    margin-top: 45px;
    font-family: PragmaticaBookRegular, sans-serif;
    font-size: 16px;
    color: #000000;
}

.services-block .services-text-main {
    margin-top: 45px;
    font-family: PragmaticaBookRegular, sans-serif;
    font-size: 20px;
    color: #000000;
    line-height: 1.7;
}

.services-block .services-text-main a {
    color: #808080;
    font-family: PragmaticaBookRegular, sans-serif;
}

.services-block .services-link {
    margin-top: 30px;
}

.services-block .services-polygon-in-circle {
    padding: 10px ;
    border-radius: 20px;
    border: 1px solid #ef3421;    
    float: left;
    box-sizing: border-box;
    background-image: url(/include/images/polygon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.services-block .services-text-link {
    margin-left: 10px;
    margin-right: 42px;
    color: #ef3421;
    font-family: PragmaticaBookRegular, sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #f7958b; 
    text-decoration: none;
    float: left;
}

.services-block .table {
    margin-top: 36px;
    border-spacing: 0;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}

.services-block .table td, .services-block .table th {
    padding: 15px;
    padding-left: 20px;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    vertical-align: top;
    color: #808080;
    font-size: 16px;
    text-align: left;
    line-height: 28px;
}

.services-block .table th {
    border-top: none;
    color: #000000;  
    font-family: PragmaticaMedium, sans-serif;
    font-weight: normal;
}

.services-block .table .th-one-in-two {
    border-top: 1px solid #cdcdcd;
    color: #000000;  
    font-family: PragmaticaMedium, sans-serif;
    font-weight: normal;
}

.services-block .table .th-gk {
    border-top: none;
    color: #ef3421;  
    font-family: PragmaticaBold, sans-serif;
    font-weight: normal;
}

.services-block .table .th-f {
    border-top: none;
    color: #000000;  
    font-family: PragmaticaBold, sans-serif;
    font-weight: normal;
}

.services-block .table td {  
    color: #808080;
    font-family: PragmaticaBookRegular, sans-serif;
}

.services-block .table td a{  
    color: #ef3421;
    font-family: PragmaticaBookRegular, sans-serif;
}

.services-block .table td:first-child, .services-block .table th:first-child {
    border-left: none;
}

.services-block .table th:first-child {
    border-top-left-radius: 6px;
}

.services-block .table th:last-child {
    border-top-right-radius: 6px;
}

.services-block .services-order-link {
    margin-top: 50px;
    padding: 12px;
    width: 100%;
    color: #ef3421;
    box-sizing: border-box;
    border: 2px solid #fbc8c3; 
    border-radius: 6px;
    text-decoration: none;
    float: left;   
    font-family: PragmaticaBookRegular, sans-serif;
    font-size: 16px;
    text-align: center;
}

.services-block .wrapper-with-margin {
    margin-top: 42px; 
    overflow: hidden
}


.services-block .specific-info-block {
    height: 140px;
    width: 340px;
    border: 1px solid #e6b1ab;
    border-radius: 5px;
    box-sizing: border-box;
    float:left;
    font-size: 16px;
    font-family: PragmaticaBookRegular, sans-serif;
    color: #ef3421;
}

.services-block .specific-info-block:last-child {
    color: #353535;
    border-color:#a7a7a7;
    float:right;
}

.services-block .specific-info-block .specific-info-block-value {
    padding-top: 50px;
    padding-bottom: 50px; 
    height: 100%;
    width: 120px;
    border-right: 1px solid #e6b1ab;
    box-sizing: border-box;
    line-height: 36px;
    letter-spacing: -3px;
    font-family: 'PragmaticaBold', sans-serif;  
    text-align: center; 
    font-weight: normal;
    color: #ef3421;
    font-size: 60px; 
    float:left;
}

.services-block .specific-info-block .specific-info-block-name {
    font-size: 16px;
    line-height: 30px;    
    text-align: left;
    padding: 20px;
    height: 100%;
    width: 217px;
    box-sizing: border-box;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-block .specific-info-block:last-child .specific-info-block-value {
    border-color: #e6b1ab;
    color: #353535;
    border-right: 1px solid #a7a7a7; 
}

.services-block .product-version-block {
    margin-right: 20px;
    height: 140px;
    width: 220px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    box-sizing: border-box;
    float:left;
    font-size: 16px;
    font-family: PragmaticaBookRegular, sans-serif;
}

.services-block .product-version-block .product-version-block-value {
    height: 79px;    
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    box-sizing: border-box;
    line-height: 20px;
    font-family: PragmaticaBookRegular , sans-serif;
    color: #333333;
    font-size: 15px; 
}

.services-block .product-version-block .product-version-block-name {
    padding: 16px;
    font-size: 26px;
    line-height: 26px;
    font-family: PragmaticaBold , sans-serif;
    letter-spacing: -3px;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
}

.services-block .product-version-block:last-child {
    margin: 0px;
}


/* Порядок обновления 1С */

.services-block .update-order-block:first-of-type {

}

.services-block .update-order-block:first-of-type .id-circle {
    border: 1px solid #ef3421;    
    color: #ffffff;     
    background-color: #ef3421;
}

.services-block .update-order-block:first-of-type .after-id-title {
    height: 40px;
    padding: 0px 20px; 
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PragmaticaBold , sans-serif;
    font-size: 14px;
    color: #ef3421; 
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.services-block .update-order-block:first-of-type .services-list {
    border-color: #f1b9b4;
    color: #ef3421;
    background-color: #fcf7f7;
}

.services-block .update-order-block:first-of-type .services-list:first-of-type {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.services-block .update-order-block:first-of-type .services-list:last-child {
    border-bottom: 1px solid #f1b9b4;    
}

.services-block .update-order-block:first-of-type .services-list .services-list-circle {
    border: 2px solid #ef3421;    
}

.services-block .update-order-block:first-of-type .separation-line .separation-line-cirlce {
    border-color: #ef3421;
    background-color: #ef3421;
}

.services-block .update-order-block:first-of-type .separation-line .line {
    border-color: #f1b9b4;       
}

.services-block .update-order-block:first-of-type .block-with-list {
    border-color: #f1b9b4;
}

.services-block .id-circle {
    line-height: 38px;    
    width: 40px;
    height: 40px;
    border: 2px solid #c1c1c1;
    border-radius: 20px;   
    box-sizing: border-box;
    font-family: PragmaticaBookRegular , sans-serif;    
    color: #000000;   
    text-align: center;    
    float: left;
}

.services-block .after-id-title {
    height: 40px;
    padding: 0px 20px; 
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PragmaticaBold , sans-serif;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.services-block .block-with-list {
    border-left: 1px solid #cdcdcd;   
    padding-left: 40px; 
    margin-left: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
}

.services-block .block-with-list .services-list-block {
    margin: 0px;
    margin-top: 1px; 
}

.services-block .separation-line {
    position:absolute; 
    left:0px;
    top:50%;
    bottom: 1px;       
}

.services-block .separation-line .separation-line-cirlce {
    width: 11px;
    height: 11px;
    border: 1px solid #818181;    
    border-radius: 6px;
    background-color: #818181;
    box-sizing: border-box;
    position:absolute; 
    left:-6px;
    top:-5px;
}

.services-block .separation-line .line {
    width: 40px;
    border-bottom: 1px solid #cdcdcd;
    position:absolute;          
}

.services-block .services-list-block {
    margin-top: 38px;
}

.services-block .white-line {
    height: 50%;
    top: 50%;
    left: -3px;
    border-left: 5px solid #ffffff;
    box-sizing: border-box;
    position:absolute;          
}

/*Всплывающие окна*/
.style-reset {
    background-color: #ffffff;
    padding: 0px;
}

.services-popup {   
    margin: 5% auto;
    width: 700px;
    border-radius:5px;
    background: #ffffff;
    box-sizing: border-box;
}

.services-popup ul li {
    background: url(/local/templates/NEW_gkexchange_inner/img/list.png) no-repeat 0 3px;
    padding: 0 0 15px 30px;
    color: #848484;
    font: 16px/1 'PragmaticaBookRegular', sans-serif;
}

.services-popup li {
    display: list-item;
}

.services-popup ul {
    padding-top: 38px;
    list-style: none;
}


.services-popup h2 {
    color: #333;
    font: 22px/1 'PragmaticaBold', sans-serif;
    padding: 43px 0 23px;
    margin: 0 0 22px;
    border-bottom: 1px solid #dadada;
    letter-spacing: -0.1px;    
}

.services-popup b {
    
}

.services-popup h3 {
    color: #333;
    padding: 33px 0 23px;
    font: 18px/1 'PragmaticaBold', sans-serif;
    letter-spacing: -0.1px;    
}

.services-popup p {
    padding-top: 38px;
    line-height: 28px;
    color: #848484;
    box-sizing: border-box;
    font: 16px/28px 'PragmaticaBookRegular', sans-serif;    
}

.services-popup .close {
    width: 27px;
    height: 27px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 100;
    top: 20px;
    background: url(/local/templates/NEW_gkexchange_inner/img/close.png) no-repeat 0 0;
}