div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

.portfolio-block
{
    padding-bottom: 45px;
    border-bottom: 1px solid #dadada;
    color: #a1a1a1;
    font-size: 16px;
    line-height: 28px;
    font-family: PragmaticaBookRegular, sans-serif;
    overflow: hidden
}

.portfolio-block a
{
    display: inline-block;
    color: #ef3421;
    border-bottom: 1px solid #efb4a7;
    padding-bottom: 2px;
    text-decoration: none;
}

.portfolio-block:last-of-type
{
    border-bottom: none;
    padding-bottom: 62px;
}

.portfolio-block .block-id
{
    margin-top: 32px;
    color: #000000;
    font-family: 'PragmaticaBold', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.portfolio-block .h2
{
    padding-top: 30px;
    padding-bottom: 0px; 
    margin-bottom: 0px;
    border-bottom: none;
}

.portfolio-block .description
{
    border-bottom: 1px solid #dadada;
    padding-top: 38px;
    padding-bottom: 42px;
    line-height: 28px;
    color: #a1a1a1;
}

.portfolio-block .description:last-of-type
{
    border-bottom: none;
    padding-bottom: 0px;
}

.portfolio-block p
{
    border-bottom: 1px solid #dadada;
    padding-top: 38px;
    padding-bottom: 42px;
    line-height: 28px;
    color: #a1a1a1;
    box-sizing: border-box;
}

.portfolio-block p:last-of-type
{
    border-bottom: none;
    padding-bottom: 0px;
}

.portfolio-block p:first-child
{
    padding-top: 0px;
}

.portfolio-block .rectangle-block {
    overflow: hidden;
    margin-top: 20px; 
}

.portfolio-block .rectangle-block:first-of-type {
    margin-top: 48px;       
}

.portfolio-block .properties-block {
    height: 140px;
    width: 340px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    box-sizing: border-box;
    float:left;
    font-size: 16px;
    font-family: PragmaticaBookRegular, sans-serif;
}

.portfolio-block .properties-block .properties-block-value{
    
    padding: 30px 20px;
    height: 89px;
    width: 100%;
    border-bottom: 1px solid #a7a7a7;
    box-sizing: border-box;
    line-height: 30px;
    font-family: 'PragmaticaBold', sans-serif;       
    font-weight: bold;
    color: #333333;
    font-size: 36px; 
}

.portfolio-block .properties-block .properties-block-value  .rubznak{
    font-weight: 100;
    line-height: 0px; 
}

.portfolio-block .properties-block .properties-block-name{
    font-size: 16px;
    padding: 15px 20px;
    height: 48px;
    width: 100%;
    line-height: 1px;
    line-height: 17px;
    box-sizing: border-box;
}


.portfolio-block .properties-block:last-child {
    color: #ef3421;
    border-color:#e6b1ab;
    float:right;
}

.portfolio-block .properties-block:last-child .properties-block-value {
    border-color:#e6b1ab;   
    color: #ef3421;
}

.portfolio-block .properties-block:first-child {
    color: #333333;;
    border-color:#a7a7a7;
    float:left;
}

.portfolio-block .properties-block:first-child .properties-block-value {
    border-color:#a7a7a7;   
    color: #333333;;
}

.portfolio-block .portfolio-list {
    padding: 19px;
    width: auto;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-bottom: 0;    
    font-size: 16px;
    font-family: PragmaticaBookRegular, sans-serif;
    color: #656565;
    
}

.portfolio-block .portfolio-list:first-child {
    margin-top: 42px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.portfolio-block .portfolio-list:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #cdcdcd;
    
}

.portfolio-block .portfolio-list .portfolio-list-circle{
    margin-right: 20px;
    margin-top: 8px;
    height: 6px;
    width: 6px;
    border: 2px solid #818181;
    border-radius: 6px;
    float:left;
}

